.login-form {
  min-width: 16rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .inputs-wrapper {
    display: flex;
    flex-direction: column;

    .input-group {
      min-width: 11.2rem;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.3rem;

      input {
        max-width: 13rem;
        border-radius: 5px;
      }
    }
  }

  .login-button {
    padding: 1rem;
    background-color: #ffb74d;
    color: white;
    border: none;
    cursor: pointer;
    height: 4rem;
    border-radius: 10px;

    &:hover {
      background-color: #c68f3c;
    }
  }
}

.error-message {
  text-align: center;
}
